@charset "utf-8";

/* milkform css by milk */

html, body, div, span, h1, h2, h3, p, a, address, code, del, dfn, em, img, strong, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
}

body {
	background-color: #ffffff;
	color: #222222;
	font-size: 100%;
	font-family: "メイリオ",Meiryo,"ＭＳ Ｐゴシック","Hiragino Kaku Gothic Pro","ヒラギノ角ゴ Pro W3","Trebuchet MS",Arial,Helvetica,sans-serif;
}

input, select {
	padding-left: 5px;
	border: 1px solid #e6e6e6;
}

div {
	box-sizing: border-box;
}

img {
	border: none;
	line-height: 1;
}

span {
	color: #840828;
}

fieldset {
	border: none;
}

legend {
	margin-bottom: 15px;
}

input:focus {
	border: 1px solid #52b032;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06) inset, 0 0 8px rgba(82, 176, 50, 0.6);
}

header, main {
	display: block;
	max-width: 830px;
	margin: 30px auto;
	line-height: 1.6;
}

#logo {
	float: left;
	margin-bottom: 30px;
	width: 248px;
}

#search_area {
	position: relative;
	float: right;
	margin-top: 30px;
}

#search_area input, #search_area label {
	-webkit-transition: all .2s;
	transition: all .2s;
}

#search_area input {
	width: 275px;
	height: 30px;
	padding-left: 235px;
	-webkit-appearance: none;
	-moz-appearance: none;
	box-sizing: border-box;
	border-radius: 0;
}

#search_area label {
	position: absolute;
	left: 5px;
	top: 4px;
	font-size: 83%;
}

#search_area input:focus {
	padding-left: 5px;
}
#search_area label.keyword {
	top: -23px;
}

button {
	margin: 0;
	padding: 0;
	width: 38px;
	height: 30px;
	background: #ffffff;
	border: none;
	vertical-align: top;
}

h1 {
	clear:both;
	float: left;
	margin-bottom: 26px;
	border-bottom: 3px solid #d33382;
	line-height: 1.5;
}

.caution {
	margin-top: 8px;
	margin-left: 28px;
	font-size: 60%;
	font-weight: normal;
	font-style: normal;
}

#new_member {
	clear:both;
	margin-left: 20px;
}

.form-wrap {
	margin-bottom: 20px;
	border: 2px solid #cccccc;
	border-collapse: separate;
	border-radius: 7px;
	border-spacing: 0;
}

.form-item label:first-child {
	border-top-left-radius: 6px;
}

.last {
	border-bottom-left-radius: 6px;
}

.form-item {
	display: table;
	width: 100%;
	border-bottom: 1px solid #cccccc;
}

.form-item:last-child {
	border-bottom: none;
}

.form-item label {
	display: table-cell;
	padding: 22px 26px;
	width: 25%;
	background: #fafafa;
	border-right: 1px solid #cccccc;
	text-align: left;
	vertical-align: middle;
}

.user_action {
	position: relative;
	display: table-cell;
	padding: 22px 24px;
}

.form-item .user_action label {
	display: inline;
	padding: 0;
	width: auto;
	background: none;
	border-right: none;
	text-align: left;
}

.form-item label:last-child {
	border-bottom: medium none;
}

.form-item span {
	margin-left: 14px;
}

.form-item strong {
	display: block;
	font-weight: normal;
}

.form-item:after {
    clear: both;
}

.contact_address span {
	float: right;
	margin-top: -50px;
}

.form-item input[type='text'], .form-item input[type='tel'] {
	padding-left: 12px;
	width: 58%;
	height: 41px;
}

.separate {
	display: table-cell;
}

.separate input:first-child, .separate input:nth-child(2), #postal_code, #surname, #surname_kana {
	margin-right: 12px;
	width: 120px;
}

.separate input:last-child, .separate input:nth-child(2), #firstname, #firstname_kana {
	margin-left: 12px;
	width: 120px;
}

#surname, #surname_kana {
	margin-right:20px;
	margin-left: 12px;
} 

select {
	width: 186px;
	height: 41px;
}

#gender_man ,#gender_woman {
	margin-right: 9px;
}

.radio_f {
	margin-right: 26px;
}

#mail {
	float: left;
}

.form-item p {
	display: inline;
	margin-left: 15px;
	line-height: 1.3;
	font-size:76%;
}

#error_message {
	float: left;
	padding-left: 19px;
	background: url("img/icon_caution.gif") no-repeat 0 4px;
	color: #cc2632;
}

#mail_description {
	float: left;
	margin-top: 3px;
}

#consent {
	margin-right: 9px;
}

.check_consent {
	display: block;
	margin-bottom: 35px;
	text-align: center;
}

input[type='submit'] {
	display: block;
	margin: 0 auto;
	padding: 8px 60px;
	background: #d33382;
	border-radius: 7px;
	color: #ffffff;
	font-size: 250%;
	font-weight: bold;
}

/* for max-width 768px */

@media only screen and (max-width: 768px) {

	#logo, #search_area {
		float: none;
		margin-left: 10px;
	}

	h1 {
		float: none;
		margin: -15px 10px 15px;
	}

	.caution {
		display: block;
		margin: 0 0 3px;
		line-height: 1.2;
}

	#search_area {
		margin-bottom: 10px;
	}

	button {
		display: block;
		margin-top: 5px;
	}

	#new_member {
		margin-left: 5%;
		margin-right: 5%;
	}

	.form-item {
		table-layout: fixed;
	}

	.form-item label {
		padding: 22px 10px;
		width: 30%;
	}

	.form-item input {
		padding-left: 11%;
		padding-right: 0;
	}

	.user_action {
		padding: 22px 10px;
	}

	.separate input:last-child, .separate input:nth-child(2), #firstname, #firstname_kana, .separate input:first-child, .separate input:nth-child(2), #postal_code, #surname, #surname_kana, .form-item p {
		display: block;
		margin-left: 0;
	}

	.form-item p {
		margin-top: 5px;
	}

	select {
		width: 148px;
	}

	#gender_man, #gender_woman {
		/* margin-right: 5px; */
		margin: 0;
		padding: 0;
	}

	.contact_address span {
		float: none;
		margin-top: -25px;
	}

}